@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Fredoka-Light";
  src: url(./fonts/Fredoka-Light.ttf);
}

@font-face {
  font-family: "Fredoka-Regular";
  src: url(./fonts/Fredoka-Regular.ttf);
}

@font-face {
  font-family: "Fredoka-Semi-Bold";
  src: url(./fonts/Fredoka-SemiBold.ttf);
}

@font-face {
  font-family: "Fredoka-Bold";
  src: url(./fonts/Fredoka-Bold.ttf);
}

@font-face {
  font-family: "Fredoka-Medium";
  src: url(./fonts/Fredoka-Medium.ttf);
}
body {
  color: black;
  background: white;
}
