@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fredoka-Light";
  src: url(./fonts/Fredoka-Light.ttf);
}

@font-face {
  font-family: "Fredoka-Regular";
  src: url(./fonts/Fredoka-Regular.ttf);
}

@font-face {
  font-family: "Fredoka-Semi-Bold";
  src: url(./fonts/Fredoka-SemiBold.ttf);
}

@font-face {
  font-family: "Fredoka-Bold";
  src: url(./fonts/Fredoka-Bold.ttf);
}

@font-face {
  font-family: "Fredoka-Medium";
  src: url(./fonts/Fredoka-Medium.ttf);
}
body {
  color: black;
  background: white;
}

input[inputMode="text"] {
  display: block;
  width: 24rem/* 384px */;
  padding-left: 1.75rem/* 28px */;
  padding-right: 1.75rem/* 28px */;
  height: 4rem/* 64px */;
  margin-bottom: 1.25rem/* 20px */;
  border-radius: 0.5rem/* 8px */;
  --tw-border-opacity: 1;
  border-color: rgb(244 244 244 / var(--tw-border-opacity));
  outline: 2px solid transparent;
    outline-offset: 2px;
}


input[inputMode="text"]:focus {
  display: block;
  width: 24rem/* 384px */;
  padding-left: 1.75rem/* 28px */;
  padding-right: 1.75rem/* 28px */;
  height: 4rem/* 64px */;
  margin-bottom: 1.25rem/* 20px */;
  border-radius: 0.5rem/* 8px */;
  --tw-border-opacity: 1;
  border-color: rgb(48 153 117 / var(--tw-border-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-width: 2px;
}